body{
    background-color: 	#F5F5F5;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

a {
    font-size: 1.2em;
    color: #6A6A6A;
    text-decoration: none;
    margin-left: 55px;

}

